<section class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Portfolio</h2>
        </div>
    </div>
    <div class="row"> 
        <div class="col-12 col-md-4 mb-2">
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2019/04/15/11/42/fortnite-4129124_1280.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-2">
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2018/03/17/04/07/tunnel-3233082_1280.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-2">
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2021/09/07/07/11/joysticks-6603119_1280.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    
</section>
