<section class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>{{title}}</h2>
        </div>
    </div>
    <div class="row"> 
        <div class="col">
            <img [src]=" 'assets/images/' + sourceImg" [alt]="title" class="img-fluid" (click)="changeImage()">
        </div>
        <div class="col">
            <p *ngIf="2 < 1; else otherParag">
                CECI EST AFFICHE SOUS CONDITION
            </p>

            <ng-template #otherParag>
                <p>MON AUTRE PARAGRAPHE</p> 
            </ng-template>

            <div class="mt-3" [ngSwitch]="2">
                <p *ngSwitchCase = "1">C'est 1 le case</p>
                <p *ngSwitchCase = "2">C'est 2 le case</p>
                <p *ngSwitchCase = "3">C'est 3 le case</p>

            </div>

            <ol>
                <li *ngFor="let img of jsonImg">
                    <img width="50" [src]=" 'assets/images/' + img.url " [alt]="img.alt">
                </li>
            </ol>

            <p [ngStyle]="{ 'display': myProp, 'color': 'red'}" (click)="myProp='none'">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus sunt, officiis incidunt exercitationem, perferendis nesciunt saepe ratione nostrum tempora reprehenderit eum molestias vel in nobis facilis! Illum expedita porro, eaque quibusdam autem animi aut natus, saepe voluptatem blanditiis ipsum reprehenderit. Doloribusuid quaerat. Esse repellendus est adipisci nam recusandae odio, voluptatem a unde incidunt repellat assumenda autem perferendis soluta asperiores atque, minus reprehenderit animi maxime! Quos amet iusto, reiciendis hic laborum non inventore incidunt.</p>
            <p [ngClass]="{'text-primary': myValue}" (click)="myValue=!myValue">Lorem ipsum dolor, est adipisci nam recusandae odio, voluptatem a unde incidunt repellat assumenda autem perferendis soluta asperiores atque, minus reprehenderit animi maxime! Quos amet iusto, reiciendis hic laborum non inventore incidunt.</p>
        </div>
    </div>
    
</section>
