<section class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Home</h2>
        </div>
    </div>
    <div class="row"> 
        <div class="col">
            <img src="https://cdn.pixabay.com/photo/2016/11/19/22/52/coding-1841550_1280.jpg" alt="Page de code" class="img-fluid">
        </div>
        <div class="col">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus sunt, officiis incidunt exercitationem, perferendis nesciunt saepe ratione nostrum tempora reprehenderit eum molestias vel in nobis facilis! Illum expedita porro, eaque quibusdam autem animi aut natus, saepe voluptatem blanditiis ipsum reprehenderit. Doloribus, consectetur sequi nobis magni incidunt, velit nostrum dolorum at aut et quos eveniet consequatur, suscipit expedita excepturi explicabo perspiciatis eaque voluptatibus cum alias iure. Dolorum repellendus officia similique qui officiis autem ullam dolor nulla, eius perferendis est, facilis itaque quisquam cum pariatur ad quidem aperiam facere aliquam. Sed pariatur aperiam fugit aliquid quaerat. Esse repellendus est adipisci nam recusandae odio, voluptatem a unde incidunt repellat assumenda autem perferendis soluta asperiores atque, minus reprehenderit animi maxime! Quos amet iusto, reiciendis hic laborum non inventore incidunt.</p>
        </div>
    </div>
    
</section>
